@CHARSET "UTF-8";

a {
    cursor: pointer;
}

#formcu {
    width: 500px;
    margin: auto;
}

.multipleElementContainer {
    
}

.headerCollapse {
    float: left;
    background-color: #fff;
    height: 25px;
    margin-top: -5px;
    padding-top: 5px;
}

.headerLastCollapse {
    visibility:hidden;
}

.headerTitle {
    float: left;
    font-family: "Verdana" !important;
    font-size: 16px !important;
    font-weight: bold;
    padding-left: 20px;
}

.headerRow {
    width: 100%;
    margin-top: 10px;
    background-color: #ACD1E9;
    height: 25px;
    padding-top: 5px;
}

.headerNextRow {
    width: 100%;
    margin-top: 10px;
    background-color: #ACD1FF;
    height: 25px;
    padding-top: 5px;
}

.indent_1 .headerCollapse, .indent_1 .fieldDesc {
    padding-left: 20px;
}

.indent_2 .headerCollapse, .indent_2 .fieldDesc {
    padding-left: 40px;
}

.indent_3 .headerCollapse, .indent_3 .fieldDesc {
    padding-left: 60px;
}

.indent_4 .headerCollapse, .indent_4 .fieldDesc {
    padding-left: 80px;
}

.indent_5 .headerCollapse, .indent_5 .fieldDesc {
    padding-left: 100px;
}

.indent_6 .headerCollapse, .indent_6 .fieldDesc {
    padding-left: 120px;
}

.indent_7 .headerCollapse, .indent_7 .fieldDesc {
    padding-left: 135px;
}

.indent_8 .headerCollapse, .indent_8 .fieldDesc {
    padding-left: 150px;
}

.indent_9 .headerCollapse, .indent_9 .fieldDesc {
    padding-left: 165px;
}

.indent_10 .headerCollapse, .indent_10 .fieldDesc {
    padding-left: 180px;
}
.indent_11 .headerCollapse, .indent_11 .fieldDesc {
    padding-left: 190px;
}
.indent_12 .headerCollapse, .indent_12 .fieldDesc {
    padding-left: 200px;
}
.indent_13 .headerCollapse, .indent_13 .fieldDesc {
    padding-left: 210px;
}
.indent_14 .headerCollapse, .indent_14 .fieldDesc {
    padding-left: 220px;
}
.indent_15 .headerCollapse, .indent_15 .fieldDesc {
    padding-left: 230px;
}


.contentDiv {
    width: 100%;
    position: relative;
}

.outer_element {
    
}

.fieldLabel {
    display: block;
    color: #000 !important;
    font-family: "Tahoma" !important;
    font-size: 14px !important;
    font-weight: bold !important;
    text-indent: 0;
}

.fieldDesc {
    display: block;
    color: #103C5C;
    font-family: "Tahoma" !important;
    font-size: 10px !important;
    font-weight: normal !important;
    font-style: italic !important;
    text-indent: 3;
    background-color:#fff;
}

input.inpfield {
    border: 1px solid #979797;
    height: 22px;
    line-height: 22px;
    margin: 5px 0;
    text-indent: 3px;
    width: 95% !important;
    max-width: 95% !important;
    color: #4F5253 !important;
    font-family: "Arial" !important;
    font-size: 12px !important;
    font-weight: normal !important;
    background: none repeat scroll 0 0 #FFFFFF !important;
}

.field {
    left: 0px;
    padding: 5px 0 5px 100px;
    clear: left;
}

.headerRowOpen {
    background-color: #ACD1E9;
}

.headerRowClosed {
    background-color: #4697CE;
    color: #103C5C;
}